# Set up to use C++20.
build --cxxopt=-std=c++20
build --host_cxxopt=-std=c++20

# To create this file, please run:
#  bazel run @com_google_fuzztest//bazel:setup_configs > fuzztest.bazelrc
try-import %workspace%/fuzztest.bazelrc

build:win_clang --build_tag_filters=-no-windows-clang-cl
test:win_clang --test_tag_filters=-no-windows-clang-cl
build:win_clang --cxxopt=/std:c++20
build:win_clang --host_cxxopt=/std:c++20
