# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
name: BazelTest

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  bazel_test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - uses: bazel-contrib/setup-bazel@0.18.0
      if: github.repository == 'google/ink-stroke-modeler'
      with:
        bazelisk-cache: true
        disk-cache: true
        repository-cache: true
        external-cache: true
        google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}

    - name: Set up Bazel remote cache
      if: github.repository == 'google/ink-stroke-modeler'
      run: |
        echo "BAZEL_CACHE=--remote_cache=https://storage.googleapis.com/ink-stroke-modeler-open-source-ci/" >> $GITHUB_ENV
        echo "BAZEL_AUTH=--google_default_credentials" >> $GITHUB_ENV

    - name: Test (Linux and Mac config)
      if: runner.os != 'Windows'
      run: bazel test --test_output=errors //...

    - name: Test (Windows config)
      if: runner.os == 'Windows'
      run: bazel test --config=win_clang --build_tests_only --test_output=errors //...
